.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--content-limitation);
    background-color: var(--main-color);
}

.header-section img {
    height: 32px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 75px;
}

.hero-image {
    display: block;
    width: 100%;
    max-height: 50dvh;
    object-fit: cover;
}

.restaurant-logo {
    position: absolute;
    width: 150px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    object-fit: cover;
    border: 16px solid var(--option-background-color);
    border-radius: 50%;
}

.hero-section p {
    font-weight: bold;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.title-wrapper img {
    height: 24px;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: var(--content-limitation);
    background-color: var(--main-color);
    color: white;
}

.footer-section a {
    color: white;

    &:hover {
        scale: 1.1;
    }
}