body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--content-limitation);
    background-color: var(--main-color);
}

.header-section img {
    height: 32px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.hero-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 75px;
}

.hero-image {
    display: block;
    width: 100%;
    max-height: 25dvh;
    object-fit: cover;
}

.restaurant-logo {
    position: absolute;
    width: 150px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    object-fit: cover;
    border: 16px solid var(--option-background-color);
    border-radius: 50%;
}

.hero-section p {
    font-weight: bold;
    text-align: center;
    padding: 0 16px;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}

.title-wrapper img {
    height: 24px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 16px;
    padding: var(--content-limitation);
}

.menu-wrapper {
    width: 100% - 400px;
    flex-grow: 1;
}

.menu-header {
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    gap: 16px;
    background-color: var(--main-color);
    color: white;
    border-radius: 12px;
}

.menu-header img {
    width: 64px;
    margin-top: -32px;
}

.menu-part-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 16px 48px 16px;
}

.menu-part {
    display: flex;
    gap: 16px;
    background-color: var(--option-background-color);
    padding: 8px;
    border-radius: 16px;
    width: 750px;
}

.menu-description {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.menu-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 95px;
}

.menu-price p {
    font-size: 1.25rem;
    font-weight: bold;
}

.menu-price button {
    background-color: white;
    border: 0 solid black;
    border-radius: 16px;
    width: 94px;
    cursor: pointer;

    &:hover {
        scale: 1.1;
        box-shadow: 2px 2px 2px black;
    }
}

.basket-wrapper {
    width: 400px;
}

.basket {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    position: sticky;
    top: 8px;
    background-color: var(--secondary-color);
    color: white;
}

.basket h2 {
    padding-bottom: 16px;
}

.basket-infill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.basket-order {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
}

.basket-part {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    background-color: var(--option-background-color);
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

.basket-part-number {
    display: flex;
    justify-content: space-between;
}

.basket-number {
    display: flex;
    align-items: center;
    gap: 4px;
}

.basket-number button {
    height: 16px;
    padding: 0;
    background-color: transparent;
    border: 0 solid transparent;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

.price-wrapper button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: var(--main-color);
    border-radius: 32px;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
        box-shadow: 2px 2px 2px black;
    }
}

.price-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.price-part-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-weight: bold;
    border-top: 2px solid white;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: var(--content-limitation);
    background-color: var(--main-color);
    color: white;
}

.footer-section a {
    color: white;

    &:hover {
        scale: 1.1;
    }
}

.nav-basket {
    display: none;
}

.nav-basket button {
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 32px;
    padding: 8px;
    gap: 8px;
    background-color: var(--main-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: var(--button-hover);
        box-shadow: 2px 2px 2px black;
    }
}

@media screen and (min-width: 991px) and (max-width: 1460px) {
    .basket-wrapper {
        display: none;
    }

    .nav-basket {
        display: flex;
        justify-content: center;
        padding: 8px;
        background-color: var(--secondary-color);
        position: sticky;
        bottom: 0;
    }

    .basket-infill {
        width: 280px;
    }

    .basket-dialog {
        display: flex;
        background-color: var(--secondary-color);
        color: white;
        position: sticky;
        bottom: 0;
        left: calc(50% - 155px);
        border: 0 solid transparent;
        border-radius: 16px;
    }
}

@media screen and (min-width: 470px) and (max-width: 990px) {
    .menu-part {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--option-background-color);
        padding: 8px;
        border-radius: 16px;
        width: clamp(300px, 90%, 750px);
    }

    .menu-part img {
        display: block;
        width: 100%;
        max-height: 100px;
        object-fit: cover;
        border-radius: 16px;
    }

    .menu-description {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .basket-wrapper {
        display: none;
    }

    .basket-infill {
        width: 280px;
    }

    .nav-basket {
        display: flex;
        justify-content: center;
        padding: 8px;
        background-color: var(--secondary-color);
        position: sticky;
        bottom: 0;
    }

    .basket-dialog {
        display: flex;
        background-color: var(--secondary-color);
        color: white;
        position: sticky;
        bottom: 0;
        left: calc(50% - 155px);
        border: 0 solid transparent;
        border-radius: 16px;
    }

    .footer-section {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 469px) {
    .menu-header {
        flex-direction: column;
        align-items: center;
        padding: 0;
        gap: 0;
    }

    .menu-header img {
        width: 64px;
        margin-top: -40px;
    }

    .menu-part {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--option-background-color);
        padding: 8px;
        border-radius: 16px;
        width: clamp(300px, 90%, 750px);
    }

    .menu-part img {
        display: block;
        width: 100%;
        max-height: 100px;
        object-fit: cover;
        border-radius: 16px;
    }

    .menu-description {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .basket-wrapper {
        display: none;
    }

    .basket-infill {
        width: 280px;
    }

    .nav-basket {
        display: flex;
        justify-content: center;
        padding: 8px;
        background-color: var(--secondary-color);
        position: sticky;
        bottom: 0;
    }

    .basket-dialog {
        display: flex;
        background-color: var(--secondary-color);
        color: white;
        position: sticky;
        bottom: 0;
        left: calc(50% - 155px);
        border: 0 solid transparent;
        border-radius: 16px;
    }

    .footer-section {
        flex-direction: column;
        gap: 0;
    }
}