:root {
    --main-color: #E76C1F;
    --secondary-color: #363534;
    --option-background-color: #FDEADC;
    --button-hover: #b95719;
    --content-limitation: 20px max(calc((100% - 1440px)/2), clamp(16px, 10vw, 140px));
    --menu-limitation: 4px 0 4px max(calc((100% - 1360px)/2), clamp(16px, 10vw, 140px));
}